/* ##### Common Styles ##### */

body {
  color: black;
  background-color: rgb(243,242,235);
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 90%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

input { font-size: .9em; }
select { font-size: .9em; }

acronym, .titleTip {
  border-bottom: 1px dotted rgb(168,140,83);
  cursor: help;
  margin: 0;
  padding: 0;
}

.doNotDisplay {
  display: none !important;
}

.smallCaps {
  font-size: 117%;
  font-variant: small-caps;
}

img {
  border:0;
}

.bord
{
    background-color: black;
}



/* ##### Flaoting text box ##### */

.floating-text{
  color: black;
  background-color:white;
  line-height: 1.5em;
  margin: 2ex 50px 15px 50px;
  padding: 1em 1em 1em 1em;
  border: 1px solid rgb(216,210,195);
  text-align:left;
}

.floating-text a {
  color: rgb(168,140,83);
  background-color: transparent;
  text-decoration: underline;
}

.floating-text a:hover {
  text-decoration: none;
}

.floating-text h1 {
  color: rgb(166,140,83);
  background-color: transparent;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 175%;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  margin: .5em 0 .5em 0;
  padding: 0;
  /* border-top: 1px solid rgb(216,210,195); */
}

/* ##### Header ##### */

#header {
  color: white;
  background-color: rgb(0, 112,0); /* move 112 to first position for red, last for blue */
}

.headerTitle {
  color:white;
  margin: 0;
  padding: 0.25em 4mm 0.25em 4mm;
  font-style: italic;
}

.headerTitle a {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 110%;  /* For MSIE */
  font-weight: bold;
  font-style: italic;
}

.headerTitle > a {
  font-size: 138%;  /* For fully standards-compliant user agents */
}

.headerTitle span {
  color: white;
  background-color: transparent;
  font-weight: normal;
}

.subHeader {
  color: white;
  background-color: black;
  font-size: 109%;
  text-align: right;
  margin: 0;
  padding: 0.5ex 0;
}

.subHeader a {
  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 1ex;
}

.subHeader a:hover {
  color: black;
  background-color: white;
}

/* ##### Left Side Bar ##### */

.leftSideBar {
  width: 250px;
  font-size: .9em;
  border-right: 1px solid rgb(216,210,195);
  float: left;
  clear: left;
}

.leftSideBar .sideBarTitle {
  color: rgb(64,64,64);
  background-color: rgb(230,223,207);
  font-weight: bold;
  text-align:center;
  margin: 0;
  padding: 0.8ex 1ex;
}

.leftSideBar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 1em 0;
  padding: 0;
}

.leftSideBar li {
  margin: 1ex;
  /*padding: 0 0 1.25ex 0.75ex;*/
  padding: 0 0 1.25ex 1.0ex;
}

.leftSideBar a {
  color: rgb(166,140,83);
  background-color: transparent;
  text-decoration: underline;
}

.leftSideBar p {
  margin: 0 1ex 0 1ex;
}

.leftSideBar a:hover {
  color: rgb(64,64,64);
  background-color: transparent;
  text-decoration: none;
}

.leftSideBar .sideBarText {
  color: rgb(166,140,83);
  background-color: transparent;
  line-height: 1.25em;
  margin: 1ex 0.25ex 1.5em 0.75ex;
  padding: 0;
  display: block;
}

.leftSideBar .sideBarText a {
  text-decoration: underline;
}

.leftSideBar .sideBarText a:hover {
  text-decoration: none;
}

.leftSideBar .thisPage {
  color: rgb(64,64,64);
  background-color: transparent;
  font-weight: bold;
}

/* ##### Highlight ##### */

.highlight
{
 border: 2px solid red;
 padding: 1ex 1ex;

}

.highlight a {
  color: black;
  background-color: white;
}

/* ##### Floating Help Box ##### */

.helpBox {
  /*width: 250px;*/
   position:absolute;
   /*left:540px;*/
   right:185px;
   top:80px;
   width: 220px;
  border: 2px solid black;
  /*border-right: 1px solid rgb(216,210,195);*/
  float: right;
  clear: none;
  background-color: rgb(243,242,235);
}

.helpBox .helpBoxTitle {
  color: rgb(64,64,64);
  background-color: rgb(230,223,207);
  font-weight: bold;
  text-align:center;
  margin: 0;
  padding: 0.8ex 1ex;
}

.helpBox ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 1em 0;
  padding: 0;
}

.helpBox li {
  margin: 3ex;
  padding: 0 0 0 0;
}

.helpBox a {
  color: rgb(166,140,83);
  background-color: transparent;
  text-decoration: underline;
}

.helpBox p {
  margin: 0 1ex 0 1ex;
}

.helpBox a:hover {
  color: rgb(64,64,64);
  background-color: transparent;
  text-decoration: none;
}

.helpBox .helpBoxText {
  font-weight: bold;
  /*color: rgb(166,140,83);*/
  color : black;
  background-color: transparent;
  line-height: 1.25em;
  margin: 1ex 0.25ex 1.5em 0.75ex;
  padding: 0;
  display: block;
}

.helpBox .helpBoxText a {
  text-decoration: underline;
}

.helpBox .helpBoxText a:hover {
  text-decoration: none;
}

.helpBox .thisPage {
  color: rgb(64,64,64);
  background-color: transparent;
  font-weight: bold;
}


/* ##### Floating Display Sample Data Box ##### */

.popUpBox {
  /*width: 250px;*/
   position:absolute;
   /*left:540px;*/
   /*right:185px;*/
   right:20px;
   top:80px;
   width: 220px;

  border: 2px solid black;
  /*border-right: 1px solid rgb(216,210,195);*/
  /*float: right;*/
  float:none;
  clear: none;
  background-color: rgb(243,242,235);
}

.popUpBox .popUpBoxTitle {
  color: rgb(64,64,64);
  background-color: rgb(230,223,207);
  font-weight: bold;
  text-align:center;
  margin: 0;
  /*padding: 0.8ex 1ex;*/
  width:220px;
}

.popUpBox ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 1em 0;
  padding: 0;
}

.popUpBox li {
  margin: 3ex;
  padding: 0 0 0 0;
}

.popUpBox a {
  color: rgb(166,140,83);
  background-color: transparent;
  text-decoration: underline;
}

.popUpBox p {
  margin: 0 1ex 0 1ex;
}

.popUpBox a:hover {
  color: rgb(64,64,64);
  background-color: transparent;
  text-decoration: none;
}

.popUpBox .popUpBoxText {
  font-weight: bold;
  /*color: rgb(166,140,83);*/
  color : black;
  background-color: transparent;
  line-height: 1.25em;
  margin: 1ex 0.25ex 1.5em 0.75ex;
  padding: 0;
  display: block;
  text-align:left;

}

.popUpBox .popUpBoxText img{

  border:2px outset black;

}
.popUpBox .popUpBoxText img:hover{

  /*border:1px solid black;*/
  border:2px inset black;
  cursor: pointer;

}

.popUpBox .popUpBoxBtnText{

  font-weight: bold;
  /*color: rgb(166,140,83);*/
  color : black;
  background-color: transparent;
  line-height: 1.25em;
  margin: 1ex 0.25ex 1.5em 0.75ex;
  padding: 0;
  display: block;
  text-align:center;
    /*border: 1px solid black;*/
     border:3px outset black;
     background-color: rgb(230,223,207);
     font-size: 75%;
     width: 100px;
}
.popUpBox .popUpBoxBtnText:hover{

  /*border:1px solid black;*/
     border:3px inset black;
     cursor: pointer;
     background-color: rgb(230,223,207)
}
.popUpBox .helpBoxText a {
  text-decoration: underline;
}

.popUpBox .helpBoxText a:hover {
  text-decoration: none;
}

.popUpBox .thisPage {
  color: rgb(64,64,64);
  background-color: transparent;
  font-weight: bold;
}


/* ##### Right Side Bar ##### */



/* ##### Right Side Bar ##### */


.rightSideBar {
  width: 200px;
  margin: 0 0 0 2ex;
  padding: 0 0 2ex 1ex;
  float: right;
  clear: right;
  border: 1px solid rgb(216,210,195);
  background-color: white;
}

[class~="rightSideBar"] {
  margin-right: 1.5ex;
}

.rightSideBar .sideBarTitle {
  color: rgb(166,140,83);
  background-color: transparent;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 125%;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  padding: 0;
  margin: 1em 0 0 0 ;
}

.rightSideBar a {
  color: rgb(166,140,83);
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

.rightSideBar a:hover {
  text-decoration: none;
}

.rightSideBar .sideBarText {
  line-height: 1.25em;
  margin: 0;
  padding: 0 0 0 2ex;
}

.rightSideBar .sideSubBarText {
  line-height: 1em;
  margin: 0;
  padding: 0 0 0 2ex;
  font-size: 75%;
}

.rightSideBar .more {
  text-decoration: none;
  text-align: right;
  margin: 0;
  padding: 0 2ex 1em 2ex;
  display: block;
}

.rightSideBar .more:hover {
  text-decoration: underline;
}

/* ##### Navigation tabs ##### */

.navitabs-selected {
  z-index: 0;
  text-align: center;
  background: rgb(230,223,207);
  padding: 0.2em;
  border: 0.1em outset #BBB;
  border-bottom: 0.1em solid rgb(230,223,207);
}

.navitabs-selected a {
  text-decoration: none;
  color:black;
}

.navitabs-selected a:hover {
  color: rgb(64,64,64);
  background-color: transparent;
  text-decoration: none;
}

.navitabs {
  border-bottom: none;
  background: rgb(0, 112,0);
  color:white;
}

.navitabs a {
  color:white;
  text-decoration: none;
}

/* ##### Main Copy ##### */

#main-copy {
  /* overflow: auto; */
  color: black;
  background-color: white;
  /* text-align: justify; */
  line-height: 1.5em;
  margin: 0 200px 0 250px;
  /*margin: 0 150px 0 180px;*/
  padding: 0.5ex 1em 1em 1em;
  border-left: 1px solid rgb(216,210,195);
}

#main-copy h1 {
  color: rgb(166,140,83);
  background-color: transparent;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 175%;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  border-top: 1px solid rgb(216,210,195);
}

#main-copy a {
  color: rgb(168,140,83);
  background-color: transparent;
  text-decoration: underline;
}

#main-copy a:hover {
  text-decoration: none;
}

p {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.5ex 0;
}

dd {
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}


/* ##### Footer ##### */

#footer {
  color: black;
  background-color: rgb(230,223,207);
  font-size: 92%;
  text-align: center;
  line-height: 1.25em;
  margin: 0;
  padding: 1em 4mm 1em 4mm;
  clear: both;
}

#footer div {
  margin: 0;
  padding: 0 0 1ex 0;
}

#footer a {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

#footer a:hover {
  text-decoration: none;
}

/* tables */
th
{
    background-color: rgb(0,112,0);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

th a {
  color: rgb(166,140,83);
  background-color: transparent;
  text-decoration: underline;
}


td
{
    background-color: #ffffff;
    font-size: 80%;
    vertical-align: top;
}

/* ##### Filters ##### */
.filter {
    border-bottom: 1px solid rgb(216,210,195);
    border-left: 1px solid rgb(216,210,195);
    padding: 0 0 1em 1em;
}


/* ##### Processing Box ##### */

.processing {
    position:fixed;
    left: 75px;
    bottom: 75px;
    width: 350px;
    border: 2px solid black;
    background-color: white;
    text-align:center;
}

.processing .processingTitle {
    color: rgb(64,64,64);
    background-color: rgb(230,223,207);
    font-weight: bold;
    text-align:center;
    margin: 0 auto;
    padding: 0.8ex 1ex;
}

/* ##### Zebra tables for HtmlOutput ##### */

tbody.output tr td {
    background: #eee;
}

tbody.output tr.selected td {
    background: rgb(200,232,200);  /* move 232 to first position for red, last for blue */
}
